h1, p, * {
    font-family: sans-serif;
    color: 'black';
  }
  
  html {
    /* background:#8a9dff; */
    /* background: rgb(29, 200, 149); */
    background: rgb(240, 147, 85);
  }
  
  body {
    
    background-image: url('./assets/background-soft.jpg');    
    width: 600px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
  }
  
  .note {
    border-bottom: 1px solid #aaa;
    padding: 15px;
  }
  
  input[type=text] {
    width: 80%;
    background: #fefefe;
    border-radius: 4px;
    padding: 10px 8px;
    border: 1px solid #444;
    font-size: 20px;
  }
  
  button {
    background: #f06f13;
    border-radius: 4px;
    padding: 10px 8px;
    border: 1px solid #444;
    font-size: 18px;
    cursor: pointer;
  }